@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
}

p {
  margin-block-end: 0.75rem;
}

.css-variables-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.css-variables-container textarea.penpot-textarea {
  width: 100%;
  min-height: 100px;
  padding: 15px;
  resize: vertical;
  font-family: monospace;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
.title-m{
  margin-bottom: 12px;
}
#css-variables{
  height: auto;
}
